@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300..900&display=swap');

:root{
    --Blue: hsl(246, 80%, 60%);

    --Light-red-work: hsl(15, 100%, 70%);
    --Soft-blue-play: hsl(195, 74%, 62%);
    --Light-red-study: hsl(348, 100%, 68%);
    --Lime-green-exercise: hsl(145, 58%, 55%);
    --Violet-social: hsl(264, 64%, 52%);
    --Soft-orange-sel-care: hsl(43, 84%, 65%);

    --Very-dark-blue: hsl(226, 43%, 10%);
    --Dark-blue: hsl(235, 46%, 20%);
    --Desaturated-blue: hsl(235, 45%, 61%);
    --Pale-Blue: hsl(236, 100%, 87%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    font-family: 'Rubik', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--Very-dark-blue);
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1.5rem;
}
.card-containter{
    height: 245px;
    display: flex;
    align-items: flex-end;
}
.card{
    position: relative;
    width: 256px;
    height: 200px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    background-color: var(--Dark-blue);
    border-radius: 1rem;
    padding: 2rem;
    color: white;
    cursor: pointer;
}
.card:has(.card-content:hover){
    background-color: #34397a;
}
.card-hero{
    grid-area: 1/1/3/2;
}
.card-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card-title{
    font-size: 18px;
    font-weight: 400;
}
.card-content{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.card-btn{
    border: none;
    background-color: transparent;
    background-image: url(./images/icon-ellipsis.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 21px;
    height: 5px;
    cursor: pointer;
}
.card-current{
    font-weight: 300;
    font-size: 3.5rem;
}
.card-previous{
    color: var(--Desaturated-blue);
    font-size: 15px;
}
.card::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    inset: 0;
    z-index: -1;
    top: -45px;
    background-repeat: no-repeat;
    background-position: right 16px top -12px;
}
.work::after{
    background-image: url(./images/icon-work.svg);
    background-color: var(--Light-red-work);
}
.play::after{
    background-image: url(./images/icon-play.svg);
    background-color: var(--Soft-blue-play);
}
.study::after{
    background-image: url(./images/icon-study.svg);
    background-color: var(--Light-red-study);
}
.exercise::after{
    background-image: url(./images/icon-exercise.svg);
    background-color: var(--Lime-green-exercise);
}
.social::after{
    background-image: url(./images/icon-social.svg);
    background-color: var(--Violet-social);
}
.self-care::after{
    background-image: url(./images/icon-self-care.svg);
    background-color: var(--Soft-orange-sel-care);
}
input[type='radio']{
    display: none;
}
.card-hero{
    width: 256px;
    background-color: var(--Dark-blue);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
}
.card-hero-info{
    /* min-height: 345px; */
    background-color: var(--Blue);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2.625rem;
    border-radius: inherit;
    flex-grow: 1;

}
.card-hero-info img{
    width: 78px;
    max-width: 78px;
    max-height: 78px;
    border: 2px solid white;
    border-radius: 999px;
}
.card-hero-data p{
    color: var(--Pale-Blue);
    font-size: 15px;
}
.card-hero-data h1{
    color: white;
    font-size: 2.5rem;
    font-weight: 300;
    
}
.card-hero-menu{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 1rem;
    color: var(--Desaturated-blue);
}
.card-hero-menu label{
    font-size: 18px;
}
.menu-item{
    cursor: pointer;
}
input:checked + label{
    color: var(--Pale-Blue);
}

@media screen and (max-width: 1130px) {
    .container{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        margin: 3rem 2rem;
        width: 100%;
        min-width: 326px;
        max-width: 550px;
    }
    .card-containter{
        height: 160px;
    }
    .card{
        height: 122px;
        width: 100%;
        padding: 1.5rem;
        gap: 0.5rem;
    }
    .card::after{
        top: -38px;
    }
    .card-content{
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .card-current{
        font-size: 1.8rem;
    }
    .card-previous{
        color: var(--Desaturated-blue);
    }
    .card-hero{
        width: 100%;
    }
    .card-hero-info{
        flex-direction: row;
        gap: 1rem;
        align-items: center;
    }
    .card-hero-info img{
        max-width: 62px;
        max-height: 62px;
    }
    .card-hero-data h1{
        font-size: 1.5rem;
    }
    .card-hero-menu{
        flex-direction: row;
        justify-content: space-between;
    }
}